body{
	background-image: url(f.jpg);

	background-position:center;
}
ul#menubar{
	list-style-type: none;
  
	overflow:hidden;
	margin:0px;
	padding: 0 px; 
}


li{
	float: left;

}

li a{
	
	text-decoration:underline;
	padding:30px;
    color:silver;
	display:block;

}
li a:hover {
	
	background-color:green;
	color: white;
	
	
}
article{
    margin-left:30px;
	border:left 1px solid red;
	padding:1em;
	color:#6495ED;
}
article ul{
	text-decoration:none;
}
